*{
  font-family:"Open Sans", sans-serif ;
  font-optical-sizing: auto;
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
}
header{
  background: #FFF8F3;
  padding-top: 50px;
}

nav{
  display: flex;
  justify-content: space-between;
  width: 71%;
  max-width: 1140;
  margin: 0px auto;
  align-items: center;
  
}
nav ul{

  list-style: none;
  display: flex;
  gap:51px;
  align-items: center;


}
nav ul a{
  text-decoration: none;
}

.btn{

  background-color:#FD6E0A;
  border: none;
   border-radius: 5px;
  padding: 18px 35px;
  font-size: 20px;
  font-weight: bold;
  color:white;

}

/*unique styles*/


.logo h2{
  font-size: 30px;
  font-weight: 900;
}
.color-orange{
  color:#FD6E0A;
}


